<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Order Notification</title>
</head>
<body>
<h1>New Order Notification</h1>

<p>Hello,</p>

<div th:if="${!client}">
    <p>A new order has been placed with the following details:</p>
</div>

<div th:if="${client}">
    <p>Your order has been registered correctly.</p>
</div>

<p>Order ID: <span th:text="${#strings.escapeXml(order.id)}"></span></p>
<p>Customer Name: <span th:text="${#strings.escapeXml(order.fullName)}"></span></p>
<p>Email: <span th:text="${#strings.escapeXml(order.email)}"></span></p>
<p>City: <span th:text="${#strings.escapeXml(order.city)}"></span></p>
<p>Postal Code: <span th:text="${#strings.escapeXml(order.postalCode)}"></span></p>
<p>Address: <span th:text="${#strings.escapeXml(order.address)}"></span></p>
<p>Flat Number: <span th:text="${#strings.escapeXml(order.flatNumber)}"></span></p>
<p>Phone: <span th:text="${#strings.escapeXml(order.phone)}"></span></p>
<p>Description: <span th:text="${#strings.escapeXml(order.description)}"></span></p>
<p>Total Price: <span th:text="${#strings.escapeXml(order.totalPrice)}"></span></p>
<p>Created At: <span th:text="${#temporals.format(order.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></span></p>
<p>Type of delivery: <span th:text="${order.waitReserved ? 'Wait for reserved items to be available' : 'Deliver available items first'}"></span></p>

<h2>Order Items:</h2>
<table border="1">
    <thead>
    <tr>
        <th>Product name</th>
        <th>Product type</th>
        <th>Quantity</th>
        <th>Color</th>
        <th>Availability</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${order.orderItems}">
        <td><span th:text="${#strings.escapeXml(productsFromOrder[item.productDetails.productId]?.name ?: 'Unknown')}"></span></td>
        <td><span th:text="${#strings.escapeXml(productsFromOrder[item.productDetails.productId]?.type ?: 'Unknown')}"></span></td>
        <td><span th:text="${#strings.escapeXml(item.quantity)}"></span></td>
        <td><span th:text="${#strings.escapeXml(item.productDetails.color)}"></span></td>
        <td><span th:text="${item.isAvailable? 'Available' : 'Reserved'}"></span></td>
    </tr>
    </tbody>
</table>

<div th:if="${!client}">
    <p>Please take necessary actions to fulfill the order.</p>
</div>

<div th:if="${client}">
    <p>Your ordered items will be sent to you as soon as possible.</p>
</div>

<p>Thank you!</p>
</body>
</html>
