<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Newsletter Subscription Confirmation</title>
</head>
<body>
<p>Hello,</p>
<p>Thank you for subscribing to our newsletter!</p>
<p>You have successfully subscribed with the email: <strong th:text="${newsletter.email}"></strong></p>
<p>If you wish to unsubscribe at any time, please click the link below:</p>
<p><a th:href="${baseUrl + unsubscribePath + '/' + newsletter.uuid}">Unsubscribe</a></p>
<p>Best regards,</p>
<p>Your Company</p>
</body>
</html>